<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ClienteAnadir</servlet-name>
        <servlet-class>Estructura.ClienteAnadir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCategoria</servlet-name>
        <servlet-class>Estructura.AnadirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirMarca</servlet-name>
        <servlet-class>Estructura.AnadirMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>Sesiones.SetSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCliente</servlet-name>
        <servlet-class>Estructura.ActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Estructura.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarCliente</servlet-name>
        <servlet-class>Estructura.RecuperarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCategoria</servlet-name>
        <servlet-class>Estructura.ActualizarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCategoria</servlet-name>
        <servlet-class>Estructura.EliminarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarMarca</servlet-name>
        <servlet-class>Estructura.ActualizarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMarca</servlet-name>
        <servlet-class>Estructura.EliminarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirProveedor</servlet-name>
        <servlet-class>Estructura.AnadirProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProveedores</servlet-name>
        <servlet-class>Estructura.ActualizarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProveedor</servlet-name>
        <servlet-class>Estructura.EliminarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirEmpleadoUsuario</servlet-name>
        <servlet-class>Estructura.AnadirEmpleadoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirUsuario</servlet-name>
        <servlet-class>Estructura.AnadirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarEmpleadoUsuario</servlet-name>
        <servlet-class>Estructura.DesactivarEmpleadoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirEmpleadoAdministrador</servlet-name>
        <servlet-class>Estructura.AnadirEmpleadoAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEmpleadoAdministrador</servlet-name>
        <servlet-class>Estructura.ActualizarEmpleadoAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirProducto</servlet-name>
        <servlet-class>Estructura.AnadirProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirProductoEnPromocion</servlet-name>
        <servlet-class>Estructura.AnadirProductoEnPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>Estructura.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirOrdenDetalles</servlet-name>
        <servlet-class>Estructura.AnadirOrdenDetalles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarOrden</servlet-name>
        <servlet-class>ConfirmarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirOrden</servlet-name>
        <servlet-class>Estructura.AnadirOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenUltimo</servlet-name>
        <servlet-class>Estructura.OrdenUltimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarCategorias</servlet-name>
        <servlet-class>Estructura.RecuperarCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Estructura.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarProductos</servlet-name>
        <servlet-class>Estructura.RecuperarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarMarca</servlet-name>
        <servlet-class>Estructura.RecuperarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarProveedores</servlet-name>
        <servlet-class>Estructura.RecuperarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarEmpleado</servlet-name>
        <servlet-class>Estructura.RecuperarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarEmpleadoAdministrador</servlet-name>
        <servlet-class>Estructura.DesactivarEmpleadoAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarAdministrador</servlet-name>
        <servlet-class>Estructura.RecuperarAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirMetodoEnvio</servlet-name>
        <servlet-class>Estructura.AnadirMetodoEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarMetodoEnvio</servlet-name>
        <servlet-class>Estructura.ActualizarMetodoEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMetodoEnvio</servlet-name>
        <servlet-class>Estructura.EliminarMetodoEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarMetodoEnvio</servlet-name>
        <servlet-class>Estructura.RecuperarMetodoEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirDetalleCompra</servlet-name>
        <servlet-class>Estructura.AnadirDetalleCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraUltimo</servlet-name>
        <servlet-class>Estructura.CompraUltimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesEnvio</servlet-name>
        <servlet-class>Estructura.DetallesEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDevolucion</servlet-name>
        <servlet-class>Estructura.ProcesarDevolucion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteAnadir</servlet-name>
        <url-pattern>/ClienteAnadir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCategoria</servlet-name>
        <url-pattern>/AnadirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirMarca</servlet-name>
        <url-pattern>/AnadirMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/SetSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCliente</servlet-name>
        <url-pattern>/ActualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarCliente</servlet-name>
        <url-pattern>/RecuperarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCategoria</servlet-name>
        <url-pattern>/ActualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCategoria</servlet-name>
        <url-pattern>/EliminarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarMarca</servlet-name>
        <url-pattern>/ActualizarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMarca</servlet-name>
        <url-pattern>/EliminarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirProveedor</servlet-name>
        <url-pattern>/AnadirProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProveedores</servlet-name>
        <url-pattern>/ActualizarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProveedor</servlet-name>
        <url-pattern>/EliminarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirEmpleadoUsuario</servlet-name>
        <url-pattern>/AnadirEmpleadoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirUsuario</servlet-name>
        <url-pattern>/AnadirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarEmpleadoUsuario</servlet-name>
        <url-pattern>/DesactivarEmpleadoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirEmpleadoAdministrador</servlet-name>
        <url-pattern>/AnadirEmpleadoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEmpleadoAdministrador</servlet-name>
        <url-pattern>/ActualizarEmpleadoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirProducto</servlet-name>
        <url-pattern>/AnadirProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirProductoEnPromocion</servlet-name>
        <url-pattern>/AnadirProductoEnPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirOrdenDetalles</servlet-name>
        <url-pattern>/AnadirOrdenDetalles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarOrden</servlet-name>
        <url-pattern>/ConfirmarOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirOrden</servlet-name>
        <url-pattern>/AnadirOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenUltimo</servlet-name>
        <url-pattern>/OrdenUltimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarCategorias</servlet-name>
        <url-pattern>/RecuperarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarProductos</servlet-name>
        <url-pattern>/RecuperarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarMarca</servlet-name>
        <url-pattern>/RecuperarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarProveedores</servlet-name>
        <url-pattern>/RecuperarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarEmpleado</servlet-name>
        <url-pattern>/RecuperarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarEmpleadoAdministrador</servlet-name>
        <url-pattern>/DesactivarEmpleadoAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarAdministrador</servlet-name>
        <url-pattern>/RecuperarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirMetodoEnvio</servlet-name>
        <url-pattern>/AnadirMetodoEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarMetodoEnvio</servlet-name>
        <url-pattern>/ActualizarMetodoEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMetodoEnvio</servlet-name>
        <url-pattern>/EliminarMetodoEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarMetodoEnvio</servlet-name>
        <url-pattern>/RecuperarMetodoEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirDetalleCompra</servlet-name>
        <url-pattern>/AnadirDetalleCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraUltimo</servlet-name>
        <url-pattern>/CompraUltimo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesEnvio</servlet-name>
        <url-pattern>/DetallesEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDevolucion</servlet-name>
        <url-pattern>/ProcesarDevolucion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
