<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ClienteAnadir</servlet-name>
        <servlet-class>Estructura.ClienteAnadir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCategoria</servlet-name>
        <servlet-class>Estructura.AnadirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirMarca</servlet-name>
        <servlet-class>Estructura.AnadirMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>Sesiones.SetSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCliente</servlet-name>
        <servlet-class>Estructura.ActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Estructura.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarCliente</servlet-name>
        <servlet-class>Estructura.RecuperarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteAnadir</servlet-name>
        <url-pattern>/ClienteAnadir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCategoria</servlet-name>
        <url-pattern>/AnadirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirMarca</servlet-name>
        <url-pattern>/AnadirMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/SetSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCliente</servlet-name>
        <url-pattern>/ActualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarCliente</servlet-name>
        <url-pattern>/RecuperarCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
